
.handwach {
    position: absolute;
    width: 140px;
    height: 140px;
    background: #ffffff94;
    border-radius: 50%;
    top: 80px;
    left: 80px;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 7px solid #282828;
    box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.981),
                  inset 4px 4px 6px rgb(30, 30, 30),
                  inset -4px -4px 6px rgba(29, 29, 29, 0.928),
                  4px 4px 20px rgb(255, 255, 255);
}


.watch-center {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}
